<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fr.oxydom.portadapter.persistence.mapper.ClientMapper">
    <select id="retrieveById" parameterType="Int" resultType="portadapter.persistence.entity.EClient">
        SELECT * FROM t_client_clt WHERE id = #{id}
    </select>
    <insert id="create" useGeneratedKeys="true" keyColumn="clt_id" keyProperty="eClient.id">
      INSERT INTO t_client_clt(prenom, nom, email) VALUES(
      #{eClient.nom},
      #{eClient.prenom},
      #{eClient.email},
      #{eClient.adresse},
      #{eClient.ville},
      #{eClient.pays},
      #{eClient.telephone},
      #{eClient.photo},
      #{eClient.civilite}
      )
    </insert>
</mapper>